.page{
    padding-top: 50px;
    padding-bottom: 100px;
}

.button{
    display: inline-block;
    border: 1px solid #41D3BD;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0;
    text-align: center;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: #41D3BD;
    color:#FFFFF2;
}

.mylink{
    cursor: pointer;
}


/*text color*/

.green{
    color:#41D3BD;
}

.white{
    color:#FFFFF2;
}

.orange{
    color:#FDAB4A;
}

.black{
    color: #170312;
}

/*bgc*/
.bg_fff{
    background-color: #fff;
}

.bg_green{
    background-color:#41D3BD;
}

.bg_white{
    background-color:#FFFFF2;
}

.bg_orange{
    background-color:#FDAB4A;
}

.bg_black{
    background-color: #170312;
}

/*font_size*/
.lg_font{
    font-size: 20px;
}

.mid_font{
    font-size: 17px;
}

.sm_font{
    font-size: 14px;
}
/*col_row*/
.col-9{
    padding: 0;
}

.col-3{
    padding: 0;
}

/*sidebar*/
.block{
    padding: 1000px 100px 0px 110px;
    height:70%;
}

.top{
    padding: 20px;
    border-radius: 50px;
}

.title{
    padding: 15px;
    border: 1px solid ;
    border-color: #170312;
}

.weight{
    font-weight: 900;
    letter-spacing: 2px;
}

.side{
    padding-top: 20px;
    padding-bottom: 30px;
}

.sidebar_items{
    margin: 0px;
    padding: 20px 20px 5px 30px;
    display: flex;
}

.sidebar_items_content{
    padding: 0px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
}

.icon{
    border-radius: 30px;
    margin-right: 18px;
    box-shadow: 1px 1px 4px #170312;
}



/*interface*/

.interface{
    padding: 60px 20px 60px 85px;
    border: 1px solid #170312;
}

.interface_items{
    padding-bottom: 80px;
}

.interface_items_pic{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.fix{
    padding: 45px 0px;
}

.img{
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}


.interface_items_space_l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.interface_items_space_r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 80px;
}

.interface_items_title{
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 30px;
}

.interface_items_content{
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}